// 颜色定义规范
$font-primary = #20a0ff
$font-danger = #ff4949
$font-warning = #f7ba2a
$font-info = #50bfff
$font-success = #13ce66
$font-default = #20a0ff /*字体primary颜色*/
$font-none = #FFFFFF

$font-family = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

//字体定义规范
$font-large = 16px
$font-medium = 14px
$font-normal = 12px
$font-mini = 10px
$font-xs = 8px
//背景定义规范
bg-primary() {
  background-color $font-primary
  border-color $font-primary
  color $font-none
}

bg-danger() {
  background-color $font-danger
  border-color $font-danger
  color $font-none
}

bg-warning() {
  background-color $font-warning
  border-color $font-warning
  color $font-none
}

bg-info() {
  background-color $font-info
  border-color $font-info
  color $font-none
}

bg-success() {
  background-color $font-success
  border-color $font-success
  color $font-none
}

bg-none() {
  background-color $font-none
  border-color $font-none
  color $font-default
}
