@import "../css/stylus/variable.styl"

@font-face
  font-family: 'icon'
  src: url('icon.eot?geswfp')
  src: url('icon.eot?geswfp#iefix') format('embedded-opentype'),
    url('icon.ttf?geswfp') format('truetype'),
    url('icon.woff?geswfp') format('woff'),
    url('icon.svg?geswfp#icon') format('svg')
  font-weight: normal
  font-style: normal

[class*="el-icon-form-"], [class^=el-icon-form-]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class*="el-icon-form-"]:before, [class^=el-icon-form-]:before
  font-size $font-large
  line-height 100%
  vertical-align middle

.el-icon-form-home:before
  content: "\e900"

.el-icon-form-home2:before
  content: "\e901"

.el-icon-form-home3:before
  content: "\e902"

.el-icon-form-office:before
  content: "\e903"

.el-icon-form-newspaper:before
  content: "\e904"

.el-icon-form-pencil:before
  content: "\e905"

.el-icon-form-pencil2:before
  content: "\e906"

.el-icon-form-quill:before
  content: "\e907"

.el-icon-form-pen:before
  content: "\e908"

.el-icon-form-blog:before
  content: "\e909"

.el-icon-form-eyedropper:before
  content: "\e90a"

.el-icon-form-droplet:before
  content: "\e90b"

.el-icon-form-paint-format:before
  content: "\e90c"

.el-icon-form-image:before
  content: "\e90d"

.el-icon-form-images:before
  content: "\e90e"

.el-icon-form-camera:before
  content: "\e90f"

.el-icon-form-headphones:before
  content: "\e910"

.el-icon-form-music:before
  content: "\e911"

.el-icon-form-play:before
  content: "\e912"

.el-icon-form-film:before
  content: "\e913"

.el-icon-form-video-camera:before
  content: "\e914"

.el-icon-form-dice:before
  content: "\e915"

.el-icon-form-pacman:before
  content: "\e916"

.el-icon-form-spades:before
  content: "\e917"

.el-icon-form-clubs:before
  content: "\e918"

.el-icon-form-diamonds:before
  content: "\e919"

.el-icon-form-bullhorn:before
  content: "\e91a"

.el-icon-form-connection:before
  content: "\e91b"

.el-icon-form-podcast:before
  content: "\e91c"

.el-icon-form-feed:before
  content: "\e91d"

.el-icon-form-mic:before
  content: "\e91e"

.el-icon-form-book:before
  content: "\e91f"

.el-icon-form-books:before
  content: "\e920"

.el-icon-form-library:before
  content: "\e921"

.el-icon-form-file-text:before
  content: "\e922"

.el-icon-form-profile:before
  content: "\e923"

.el-icon-form-file-empty:before
  content: "\e924"

.el-icon-form-files-empty:before
  content: "\e925"

.el-icon-form-file-text2:before
  content: "\e926"

.el-icon-form-file-picture:before
  content: "\e927"

.el-icon-form-file-music:before
  content: "\e928"

.el-icon-form-file-play:before
  content: "\e929"

.el-icon-form-file-video:before
  content: "\e92a"

.el-icon-form-file-zip:before
  content: "\e92b"

.el-icon-form-copy:before
  content: "\e92c"

.el-icon-form-paste:before
  content: "\e92d"

.el-icon-form-stack:before
  content: "\e92e"

.el-icon-form-folder:before
  content: "\e92f"

.el-icon-form-folder-open:before
  content: "\e930"

.el-icon-form-folder-plus:before
  content: "\e931"

.el-icon-form-folder-minus:before
  content: "\e932"

.el-icon-form-folder-download:before
  content: "\e933"

.el-icon-form-folder-upload:before
  content: "\e934"

.el-icon-form-price-tag:before
  content: "\e935"

.el-icon-form-price-tags:before
  content: "\e936"

.el-icon-form-barcode:before
  content: "\e937"

.el-icon-form-qrcode:before
  content: "\e938"

.el-icon-form-ticket:before
  content: "\e939"

.el-icon-form-cart:before
  content: "\e93a"

.el-icon-form-coin-dollar:before
  content: "\e93b"

.el-icon-form-coin-euro:before
  content: "\e93c"

.el-icon-form-coin-pound:before
  content: "\e93d"

.el-icon-form-coin-yen:before
  content: "\e93e"

.el-icon-form-credit-card:before
  content: "\e93f"

.el-icon-form-calculator:before
  content: "\e940"

.el-icon-form-lifebuoy:before
  content: "\e941"

.el-icon-form-phone:before
  content: "\e942"

.el-icon-form-phone-hang-up:before
  content: "\e943"

.el-icon-form-address-book:before
  content: "\e944"

.el-icon-form-envelop:before
  content: "\e945"

.el-icon-form-pushpin:before
  content: "\e946"

.el-icon-form-location:before
  content: "\e947"

.el-icon-form-location2:before
  content: "\e948"

.el-icon-form-compass:before
  content: "\e949"

.el-icon-form-compass2:before
  content: "\e94a"

.el-icon-form-map:before
  content: "\e94b"

.el-icon-form-map2:before
  content: "\e94c"

.el-icon-form-history:before
  content: "\e94d"

.el-icon-form-clock:before
  content: "\e94e"

.el-icon-form-clock2:before
  content: "\e94f"

.el-icon-form-alarm:before
  content: "\e950"

.el-icon-form-bell:before
  content: "\e951"

.el-icon-form-stopwatch:before
  content: "\e952"

.el-icon-form-calendar:before
  content: "\e953"

.el-icon-form-printer:before
  content: "\e954"

.el-icon-form-keyboard:before
  content: "\e955"

.el-icon-form-display:before
  content: "\e956"

.el-icon-form-laptop:before
  content: "\e957"

.el-icon-form-mobile:before
  content: "\e958"

.el-icon-form-mobile2:before
  content: "\e959"

.el-icon-form-tablet:before
  content: "\e95a"

.el-icon-form-tv:before
  content: "\e95b"

.el-icon-form-drawer:before
  content: "\e95c"

.el-icon-form-drawer2:before
  content: "\e95d"

.el-icon-form-box-add:before
  content: "\e95e"

.el-icon-form-box-remove:before
  content: "\e95f"

.el-icon-form-download:before
  content: "\e960"

.el-icon-form-upload:before
  content: "\e961"

.el-icon-form-floppy-disk:before
  content: "\e962"

.el-icon-form-drive:before
  content: "\e963"

.el-icon-form-database:before
  content: "\e964"

.el-icon-form-undo:before
  content: "\e965"

.el-icon-form-redo:before
  content: "\e966"

.el-icon-form-undo2:before
  content: "\e967"

.el-icon-form-redo2:before
  content: "\e968"

.el-icon-form-forward:before
  content: "\e969"

.el-icon-form-reply:before
  content: "\e96a"

.el-icon-form-bubble:before
  content: "\e96b"

.el-icon-form-bubbles:before
  content: "\e96c"

.el-icon-form-bubbles2:before
  content: "\e96d"

.el-icon-form-bubble2:before
  content: "\e96e"

.el-icon-form-bubbles3:before
  content: "\e96f"

.el-icon-form-bubbles4:before
  content: "\e970"

.el-icon-form-user:before
  content: "\e971"

.el-icon-form-users:before
  content: "\e972"

.el-icon-form-user-plus:before
  content: "\e973"

.el-icon-form-user-minus:before
  content: "\e974"

.el-icon-form-user-check:before
  content: "\e975"

.el-icon-form-user-tie:before
  content: "\e976"

.el-icon-form-quotes-left:before
  content: "\e977"

.el-icon-form-quotes-right:before
  content: "\e978"

.el-icon-form-hour-glass:before
  content: "\e979"

.el-icon-form-spinner:before
  content: "\e97a"

.el-icon-form-spinner2:before
  content: "\e97b"

.el-icon-form-spinner3:before
  content: "\e97c"

.el-icon-form-spinner4:before
  content: "\e97d"

.el-icon-form-spinner5:before
  content: "\e97e"

.el-icon-form-spinner6:before
  content: "\e97f"

.el-icon-form-spinner7:before
  content: "\e980"

.el-icon-form-spinner8:before
  content: "\e981"

.el-icon-form-spinner9:before
  content: "\e982"

.el-icon-form-spinner10:before
  content: "\e983"

.el-icon-form-spinner11:before
  content: "\e984"

.el-icon-form-binoculars:before
  content: "\e985"

.el-icon-form-search:before
  content: "\e986"

.el-icon-form-zoom-in:before
  content: "\e987"

.el-icon-form-zoom-out:before
  content: "\e988"

.el-icon-form-enlarge:before
  content: "\e989"

.el-icon-form-shrink:before
  content: "\e98a"

.el-icon-form-enlarge2:before
  content: "\e98b"

.el-icon-form-shrink2:before
  content: "\e98c"

.el-icon-form-key:before
  content: "\e98d"

.el-icon-form-key2:before
  content: "\e98e"

.el-icon-form-lock:before
  content: "\e98f"

.el-icon-form-unlocked:before
  content: "\e990"

.el-icon-form-wrench:before
  content: "\e991"

.el-icon-form-equalizer:before
  content: "\e992"

.el-icon-form-equalizer2:before
  content: "\e993"

.el-icon-form-cog:before
  content: "\e994"

.el-icon-form-cogs:before
  content: "\e995"

.el-icon-form-hammer:before
  content: "\e996"

.el-icon-form-magic-wand:before
  content: "\e997"

.el-icon-form-aid-kit:before
  content: "\e998"

.el-icon-form-bug:before
  content: "\e999"

.el-icon-form-pie-chart:before
  content: "\e99a"

.el-icon-form-stats-dots:before
  content: "\e99b"

.el-icon-form-stats-bars:before
  content: "\e99c"

.el-icon-form-stats-bars2:before
  content: "\e99d"

.el-icon-form-trophy:before
  content: "\e99e"

.el-icon-form-gift:before
  content: "\e99f"

.el-icon-form-glass:before
  content: "\e9a0"

.el-icon-form-glass2:before
  content: "\e9a1"

.el-icon-form-mug:before
  content: "\e9a2"

.el-icon-form-spoon-knife:before
  content: "\e9a3"

.el-icon-form-leaf:before
  content: "\e9a4"

.el-icon-form-rocket:before
  content: "\e9a5"

.el-icon-form-meter:before
  content: "\e9a6"

.el-icon-form-meter2:before
  content: "\e9a7"

.el-icon-form-hammer2:before
  content: "\e9a8"

.el-icon-form-fire:before
  content: "\e9a9"

.el-icon-form-lab:before
  content: "\e9aa"

.el-icon-form-magnet:before
  content: "\e9ab"

.el-icon-form-bin:before
  content: "\e9ac"

.el-icon-form-bin2:before
  content: "\e9ad"

.el-icon-form-briefcase:before
  content: "\e9ae"

.el-icon-form-airplane:before
  content: "\e9af"

.el-icon-form-truck:before
  content: "\e9b0"

.el-icon-form-road:before
  content: "\e9b1"

.el-icon-form-accessibility:before
  content: "\e9b2"

.el-icon-form-target:before
  content: "\e9b3"

.el-icon-form-shield:before
  content: "\e9b4"

.el-icon-form-power:before
  content: "\e9b5"

.el-icon-form-switch:before
  content: "\e9b6"

.el-icon-form-power-cord:before
  content: "\e9b7"

.el-icon-form-clipboard:before
  content: "\e9b8"

.el-icon-form-list-numbered:before
  content: "\e9b9"

.el-icon-form-list:before
  content: "\e9ba"

.el-icon-form-list2:before
  content: "\e9bb"

.el-icon-form-tree:before
  content: "\e9bc"

.el-icon-form-menu:before
  content: "\e9bd"

.el-icon-form-menu2:before
  content: "\e9be"

.el-icon-form-menu3:before
  content: "\e9bf"

.el-icon-form-menu4:before
  content: "\e9c0"

.el-icon-form-cloud:before
  content: "\e9c1"

.el-icon-form-cloud-download:before
  content: "\e9c2"

.el-icon-form-cloud-upload:before
  content: "\e9c3"

.el-icon-form-cloud-check:before
  content: "\e9c4"

.el-icon-form-download2:before
  content: "\e9c5"

.el-icon-form-upload2:before
  content: "\e9c6"

.el-icon-form-download3:before
  content: "\e9c7"

.el-icon-form-upload3:before
  content: "\e9c8"

.el-icon-form-sphere:before
  content: "\e9c9"

.el-icon-form-earth:before
  content: "\e9ca"

.el-icon-form-link:before
  content: "\e9cb"

.el-icon-form-flag:before
  content: "\e9cc"

.el-icon-form-attachment:before
  content: "\e9cd"

.el-icon-form-eye:before
  content: "\e9ce"

.el-icon-form-eye-plus:before
  content: "\e9cf"

.el-icon-form-eye-minus:before
  content: "\e9d0"

.el-icon-form-eye-blocked:before
  content: "\e9d1"

.el-icon-form-bookmark:before
  content: "\e9d2"

.el-icon-form-bookmarks:before
  content: "\e9d3"

.el-icon-form-sun:before
  content: "\e9d4"

.el-icon-form-contrast:before
  content: "\e9d5"

.el-icon-form-brightness-contrast:before
  content: "\e9d6"

.el-icon-form-star-empty:before
  content: "\e9d7"

.el-icon-form-star-half:before
  content: "\e9d8"

.el-icon-form-star-full:before
  content: "\e9d9"

.el-icon-form-heart:before
  content: "\e9da"

.el-icon-form-heart-broken:before
  content: "\e9db"

.el-icon-form-man:before
  content: "\e9dc"

.el-icon-form-woman:before
  content: "\e9dd"

.el-icon-form-man-woman:before
  content: "\e9de"

.el-icon-form-happy:before
  content: "\e9df"

.el-icon-form-happy2:before
  content: "\e9e0"

.el-icon-form-smile:before
  content: "\e9e1"

.el-icon-form-smile2:before
  content: "\e9e2"

.el-icon-form-tongue:before
  content: "\e9e3"

.el-icon-form-tongue2:before
  content: "\e9e4"

.el-icon-form-sad:before
  content: "\e9e5"

.el-icon-form-sad2:before
  content: "\e9e6"

.el-icon-form-wink:before
  content: "\e9e7"

.el-icon-form-wink2:before
  content: "\e9e8"

.el-icon-form-grin:before
  content: "\e9e9"

.el-icon-form-grin2:before
  content: "\e9ea"

.el-icon-form-cool:before
  content: "\e9eb"

.el-icon-form-cool2:before
  content: "\e9ec"

.el-icon-form-angry:before
  content: "\e9ed"

.el-icon-form-angry2:before
  content: "\e9ee"

.el-icon-form-evil:before
  content: "\e9ef"

.el-icon-form-evil2:before
  content: "\e9f0"

.el-icon-form-shocked:before
  content: "\e9f1"

.el-icon-form-shocked2:before
  content: "\e9f2"

.el-icon-form-baffled:before
  content: "\e9f3"

.el-icon-form-baffled2:before
  content: "\e9f4"

.el-icon-form-confused:before
  content: "\e9f5"

.el-icon-form-confused2:before
  content: "\e9f6"

.el-icon-form-neutral:before
  content: "\e9f7"

.el-icon-form-neutral2:before
  content: "\e9f8"

.el-icon-form-hipster:before
  content: "\e9f9"

.el-icon-form-hipster2:before
  content: "\e9fa"

.el-icon-form-wondering:before
  content: "\e9fb"

.el-icon-form-wondering2:before
  content: "\e9fc"

.el-icon-form-sleepy:before
  content: "\e9fd"

.el-icon-form-sleepy2:before
  content: "\e9fe"

.el-icon-form-frustrated:before
  content: "\e9ff"

.el-icon-form-frustrated2:before
  content: "\ea00"

.el-icon-form-crying:before
  content: "\ea01"

.el-icon-form-crying2:before
  content: "\ea02"

.el-icon-form-point-up:before
  content: "\ea03"

.el-icon-form-point-right:before
  content: "\ea04"

.el-icon-form-point-down:before
  content: "\ea05"

.el-icon-form-point-left:before
  content: "\ea06"

.el-icon-form-warning:before
  content: "\ea07"

.el-icon-form-notification:before
  content: "\ea08"

.el-icon-form-question:before
  content: "\ea09"

.el-icon-form-plus:before
  content: "\ea0a"

.el-icon-form-minus:before
  content: "\ea0b"

.el-icon-form-info:before
  content: "\ea0c"

.el-icon-form-cancel-circle:before
  content: "\ea0d"

.el-icon-form-blocked:before
  content: "\ea0e"

.el-icon-form-cross:before
  content: "\ea0f"

.el-icon-form-checkmark:before
  content: "\ea10"

.el-icon-form-checkmark2:before
  content: "\ea11"

.el-icon-form-spell-check:before
  content: "\ea12"

.el-icon-form-enter:before
  content: "\ea13"

.el-icon-form-exit:before
  content: "\ea14"

.el-icon-form-play2:before
  content: "\ea15"

.el-icon-form-pause:before
  content: "\ea16"

.el-icon-form-stop:before
  content: "\ea17"

.el-icon-form-previous:before
  content: "\ea18"

.el-icon-form-next:before
  content: "\ea19"

.el-icon-form-backward:before
  content: "\ea1a"

.el-icon-form-forward2:before
  content: "\ea1b"

.el-icon-form-play3:before
  content: "\ea1c"

.el-icon-form-pause2:before
  content: "\ea1d"

.el-icon-form-stop2:before
  content: "\ea1e"

.el-icon-form-backward2:before
  content: "\ea1f"

.el-icon-form-forward3:before
  content: "\ea20"

.el-icon-form-first:before
  content: "\ea21"

.el-icon-form-last:before
  content: "\ea22"

.el-icon-form-previous2:before
  content: "\ea23"

.el-icon-form-next2:before
  content: "\ea24"

.el-icon-form-eject:before
  content: "\ea25"

.el-icon-form-volume-high:before
  content: "\ea26"

.el-icon-form-volume-medium:before
  content: "\ea27"

.el-icon-form-volume-low:before
  content: "\ea28"

.el-icon-form-volume-mute:before
  content: "\ea29"

.el-icon-form-volume-mute2:before
  content: "\ea2a"

.el-icon-form-volume-increase:before
  content: "\ea2b"

.el-icon-form-volume-decrease:before
  content: "\ea2c"

.el-icon-form-loop:before
  content: "\ea2d"

.el-icon-form-loop2:before
  content: "\ea2e"

.el-icon-form-infinite:before
  content: "\ea2f"

.el-icon-form-shuffle:before
  content: "\ea30"

.el-icon-form-arrow-up-left:before
  content: "\ea31"

.el-icon-form-arrow-up:before
  content: "\ea32"

.el-icon-form-arrow-up-right:before
  content: "\ea33"

.el-icon-form-arrow-right:before
  content: "\ea34"

.el-icon-form-arrow-down-right:before
  content: "\ea35"

.el-icon-form-arrow-down:before
  content: "\ea36"

.el-icon-form-arrow-down-left:before
  content: "\ea37"

.el-icon-form-arrow-left:before
  content: "\ea38"

.el-icon-form-arrow-up-left2:before
  content: "\ea39"

.el-icon-form-arrow-up2:before
  content: "\ea3a"

.el-icon-form-arrow-up-right2:before
  content: "\ea3b"

.el-icon-form-arrow-right2:before
  content: "\ea3c"

.el-icon-form-arrow-down-right2:before
  content: "\ea3d"

.el-icon-form-arrow-down2:before
  content: "\ea3e"

.el-icon-form-arrow-down-left2:before
  content: "\ea3f"

.el-icon-form-arrow-left2:before
  content: "\ea40"

.el-icon-form-circle-up:before
  content: "\ea41"

.el-icon-form-circle-right:before
  content: "\ea42"

.el-icon-form-circle-down:before
  content: "\ea43"

.el-icon-form-circle-left:before
  content: "\ea44"

.el-icon-form-tab:before
  content: "\ea45"

.el-icon-form-move-up:before
  content: "\ea46"

.el-icon-form-move-down:before
  content: "\ea47"

.el-icon-form-sort-alpha-asc:before
  content: "\ea48"

.el-icon-form-sort-alpha-desc:before
  content: "\ea49"

.el-icon-form-sort-numeric-asc:before
  content: "\ea4a"

.el-icon-form-sort-numberic-desc:before
  content: "\ea4b"

.el-icon-form-sort-amount-asc:before
  content: "\ea4c"

.el-icon-form-sort-amount-desc:before
  content: "\ea4d"

.el-icon-form-command:before
  content: "\ea4e"

.el-icon-form-shift:before
  content: "\ea4f"

.el-icon-form-ctrl:before
  content: "\ea50"

.el-icon-form-opt:before
  content: "\ea51"

.el-icon-form-checkbox-checked:before
  content: "\ea52"

.el-icon-form-checkbox-unchecked:before
  content: "\ea53"

.el-icon-form-radio-checked:before
  content: "\ea54"

.el-icon-form-radio-checked2:before
  content: "\ea55"

.el-icon-form-radio-unchecked:before
  content: "\ea56"

.el-icon-form-crop:before
  content: "\ea57"

.el-icon-form-make-group:before
  content: "\ea58"

.el-icon-form-ungroup:before
  content: "\ea59"

.el-icon-form-scissors:before
  content: "\ea5a"

.el-icon-form-filter:before
  content: "\ea5b"

.el-icon-form-font:before
  content: "\ea5c"

.el-icon-form-ligature:before
  content: "\ea5d"

.el-icon-form-ligature2:before
  content: "\ea5e"

.el-icon-form-text-height:before
  content: "\ea5f"

.el-icon-form-text-width:before
  content: "\ea60"

.el-icon-form-font-size:before
  content: "\ea61"

.el-icon-form-bold:before
  content: "\ea62"

.el-icon-form-underline:before
  content: "\ea63"

.el-icon-form-italic:before
  content: "\ea64"

.el-icon-form-strikethrough:before
  content: "\ea65"

.el-icon-form-omega:before
  content: "\ea66"

.el-icon-form-sigma:before
  content: "\ea67"

.el-icon-form-page-break:before
  content: "\ea68"

.el-icon-form-superscript:before
  content: "\ea69"

.el-icon-form-subscript:before
  content: "\ea6a"

.el-icon-form-superscript2:before
  content: "\ea6b"

.el-icon-form-subscript2:before
  content: "\ea6c"

.el-icon-form-text-color:before
  content: "\ea6d"

.el-icon-form-pagebreak:before
  content: "\ea6e"

.el-icon-form-clear-formatting:before
  content: "\ea6f"

.el-icon-form-table:before
  content: "\ea70"

.el-icon-form-table2:before
  content: "\ea71"

.el-icon-form-insert-template:before
  content: "\ea72"

.el-icon-form-pilcrow:before
  content: "\ea73"

.el-icon-form-ltr:before
  content: "\ea74"

.el-icon-form-rtl:before
  content: "\ea75"

.el-icon-form-section:before
  content: "\ea76"

.el-icon-form-paragraph-left:before
  content: "\ea77"

.el-icon-form-paragraph-center:before
  content: "\ea78"

.el-icon-form-paragraph-right:before
  content: "\ea79"

.el-icon-form-paragraph-justify:before
  content: "\ea7a"

.el-icon-form-indent-increase:before
  content: "\ea7b"

.el-icon-form-indent-decrease:before
  content: "\ea7c"

.el-icon-form-share:before
  content: "\ea7d"

.el-icon-form-new-tab:before
  content: "\ea7e"

.el-icon-form-embed:before
  content: "\ea7f"

.el-icon-form-embed2:before
  content: "\ea80"

.el-icon-form-terminal:before
  content: "\ea81"

.el-icon-form-share2:before
  content: "\ea82"

.el-icon-form-mail:before
  content: "\ea83"

.el-icon-form-mail2:before
  content: "\ea84"

.el-icon-form-mail3:before
  content: "\ea85"

.el-icon-form-mail4:before
  content: "\ea86"

.el-icon-form-amazon:before
  content: "\ea87"

.el-icon-form-google:before
  content: "\ea88"

.el-icon-form-google2:before
  content: "\ea89"

.el-icon-form-google3:before
  content: "\ea8a"

.el-icon-form-google-plus:before
  content: "\ea8b"

.el-icon-form-google-plus2:before
  content: "\ea8c"

.el-icon-form-google-plus3:before
  content: "\ea8d"

.el-icon-form-hangouts:before
  content: "\ea8e"

.el-icon-form-google-drive:before
  content: "\ea8f"

.el-icon-form-facebook:before
  content: "\ea90"

.el-icon-form-facebook2:before
  content: "\ea91"

.el-icon-form-instagram:before
  content: "\ea92"

.el-icon-form-whatsapp:before
  content: "\ea93"

.el-icon-form-spotify:before
  content: "\ea94"

.el-icon-form-telegram:before
  content: "\ea95"

.el-icon-form-twitter:before
  content: "\ea96"

.el-icon-form-vine:before
  content: "\ea97"

.el-icon-form-vk:before
  content: "\ea98"

.el-icon-form-renren:before
  content: "\ea99"

.el-icon-form-sina-weibo:before
  content: "\ea9a"

.el-icon-form-rss:before
  content: "\ea9b"

.el-icon-form-rss2:before
  content: "\ea9c"

.el-icon-form-youtube:before
  content: "\ea9d"

.el-icon-form-youtube2:before
  content: "\ea9e"

.el-icon-form-twitch:before
  content: "\ea9f"

.el-icon-form-vimeo:before
  content: "\eaa0"

.el-icon-form-vimeo2:before
  content: "\eaa1"

.el-icon-form-lanyrd:before
  content: "\eaa2"

.el-icon-form-flickr:before
  content: "\eaa3"

.el-icon-form-flickr2:before
  content: "\eaa4"

.el-icon-form-flickr3:before
  content: "\eaa5"

.el-icon-form-flickr4:before
  content: "\eaa6"

.el-icon-form-dribbble:before
  content: "\eaa7"

.el-icon-form-behance:before
  content: "\eaa8"

.el-icon-form-behance2:before
  content: "\eaa9"

.el-icon-form-deviantart:before
  content: "\eaaa"

.el-icon-form-500px:before
  content: "\eaab"

.el-icon-form-steam:before
  content: "\eaac"

.el-icon-form-steam2:before
  content: "\eaad"

.el-icon-form-dropbox:before
  content: "\eaae"

.el-icon-form-onedrive:before
  content: "\eaaf"

.el-icon-form-github:before
  content: "\eab0"

.el-icon-form-npm:before
  content: "\eab1"

.el-icon-form-basecamp:before
  content: "\eab2"

.el-icon-form-trello:before
  content: "\eab3"

.el-icon-form-wordpress:before
  content: "\eab4"

.el-icon-form-joomla:before
  content: "\eab5"

.el-icon-form-ello:before
  content: "\eab6"

.el-icon-form-blogger:before
  content: "\eab7"

.el-icon-form-blogger2:before
  content: "\eab8"

.el-icon-form-tumblr:before
  content: "\eab9"

.el-icon-form-tumblr2:before
  content: "\eaba"

.el-icon-form-yahoo:before
  content: "\eabb"

.el-icon-form-yahoo2:before
  content: "\eabc"

.el-icon-form-tux:before
  content: "\eabd"

.el-icon-form-appleinc:before
  content: "\eabe"

.el-icon-form-finder:before
  content: "\eabf"

.el-icon-form-android:before
  content: "\eac0"

.el-icon-form-windows:before
  content: "\eac1"

.el-icon-form-windows8:before
  content: "\eac2"

.el-icon-form-soundcloud:before
  content: "\eac3"

.el-icon-form-soundcloud2:before
  content: "\eac4"

.el-icon-form-skype:before
  content: "\eac5"

.el-icon-form-reddit:before
  content: "\eac6"

.el-icon-form-hackernews:before
  content: "\eac7"

.el-icon-form-wikipedia:before
  content: "\eac8"

.el-icon-form-linkedin:before
  content: "\eac9"

.el-icon-form-linkedin2:before
  content: "\eaca"

.el-icon-form-lastfm:before
  content: "\eacb"

.el-icon-form-lastfm2:before
  content: "\eacc"

.el-icon-form-delicious:before
  content: "\eacd"

.el-icon-form-stumbleupon:before
  content: "\eace"

.el-icon-form-stumbleupon2:before
  content: "\eacf"

.el-icon-form-stackoverflow:before
  content: "\ead0"

.el-icon-form-pinterest:before
  content: "\ead1"

.el-icon-form-pinterest2:before
  content: "\ead2"

.el-icon-form-xing:before
  content: "\ead3"

.el-icon-form-xing2:before
  content: "\ead4"

.el-icon-form-flattr:before
  content: "\ead5"

.el-icon-form-foursquare:before
  content: "\ead6"

.el-icon-form-yelp:before
  content: "\ead7"

.el-icon-form-paypal:before
  content: "\ead8"

.el-icon-form-chrome:before
  content: "\ead9"

.el-icon-form-firefox:before
  content: "\eada"

.el-icon-form-IE:before
  content: "\eadb"

.el-icon-form-edge:before
  content: "\eadc"

.el-icon-form-safari:before
  content: "\eadd"

.el-icon-form-opera:before
  content: "\eade"

.el-icon-form-file-pdf:before
  content: "\eadf"

.el-icon-form-file-openoffice:before
  content: "\eae0"

.el-icon-form-file-word:before
  content: "\eae1"

.el-icon-form-file-excel:before
  content: "\eae2"

.el-icon-form-libreoffice:before
  content: "\eae3"

.el-icon-form-html-five:before
  content: "\eae4"

.el-icon-form-html-five2:before
  content: "\eae5"

.el-icon-form-css3:before
  content: "\eae6"

.el-icon-form-git:before
  content: "\eae7"

.el-icon-form-codepen:before
  content: "\eae8"

.el-icon-form-svg:before
  content: "\eae9"

.el-icon-form-IcoMoon:before
  content: "\eaea"

