@import "variable.styl"
@import "reset.styl"
@import "func.styl"
@import "common.styl"

*
  -webkit-user-select none !important
  -moz-user-select none !important
  -ms-user-select none !important
  -o-user-select none !important
  user-select none !important
